body{
    background-image: url(./rasver.jpg);
    background-size: cover;
    margin: 0;
}
nav ul li{
    display: inline;
    margin-left: 20px;

}
li a{
    text-align: center;
    color: white;
    text-decoration: none;
}