body{
    background-image: url(./rasver.jpg);
    background-size: cover;
    margin: 0;
}
nav ul li{
    display: inline;
    margin-left: 20px;

}
li a{
    text-align: center;
    color: white;
    text-decoration: none;
}
.div-header{
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 3px 4px 7px black;
    width: 500px;
    margin-top: 130px;
}
.divaider{
    color: white;
    width: 350px;
    text-align: center;
}
.er h2{
    text-align: center;
    color: white;
    margin-top: 70px;
}
.er{
    height: 150px;
margin-left: 50px;
}
.qwe{
    text-align: center;
    width: 1000px;
    color: white;
}
.img2 img{
    margin-left: 50px;
}
p{
    color: white;
    text-align: center;
}